.container {
    padding:20px;
    background-color:#fff;
    height:calc( 100% - 50px );
}

.operation-container {
    display:flex;
    align-items: center;
    margin-bottom:10px;
}

@media ( max-width:1440px ){
    .container {
        padding:10px;
        height:calc(100% - 34px);
        background-color:#fff;
    }
}

.button-container button {
    margin-right:6px;
}

.container :global(.ant-table) thead > tr > th, .container :global(.ant-table) tbody > tr > td {
    font-size:1rem;
    padding:6px 10px;
    white-space: nowrap;
}

.tree-container:global(.ant-tree) :global(.ant-tree-treenode) {
    padding:4px;
}
