.container {
    height:100%;
    position:relative;
    overflow:hidden;
    background-color:#080808;
}

.title-container {
    height:80px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    line-height:80px;
    text-align: center;
    font-size:2rem;
    letter-spacing: 6px;
    color:#fff;
    position:relative;
}
.title-container > .title {
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
}
.info-container {
    height:200px;
    position:relative;
    background-size:contain;
    background-repeat:no-repeat;
    background-position-x: 50%;
    color:#fff;
    overflow: hidden;
}


.info-container .left {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    left:14%;
}

.info-container .right {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    right:14%;
}

.scroll-container {
    position:absolute;
    transition:transform 1s ease-in;
    left:50%;
    height:100%;
    top:0;
    transform:translate(-50%);
}

.scroll-container > .float-item {
    position:absolute;
    left:50%;
    height:100%;
    top:0;
    transform:translate(-50%);
}

.scroll-container > .scroll-item {
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* .scroll-item {
    position:absolute;
    transform:translateX(-50%);
    left:50%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition:transform 1s ease-in;
} */

.content-container {
    height:calc( 100% - 280px);
    padding:1rem 2rem;
}

@media (max-width:1440px){
    .title-container {
        height:60px;
    }
    .info-container {
        height:140px;
    }
    
    .content-container {
        height:calc( 100% - 200px);
    }
}



.card-container-wrapper {
    display:inline-block;
    vertical-align: top;
    height:100%;
}

.card-container {
    height:50%;
    position:relative;
    padding-bottom:1rem;
}
.card-container:last-child {
    padding-bottom:0;
}
.card-container .card-title {
    font-size:1.2rem;
    color:#fff;
    height:34px;
    line-height: 34px;
}
.card-container .card-title .tag {
    position:absolute;
    left:0;
    top:-4px;
    width:40px;
    height:4px;
    background:#ff9937;

}
.card-container .card-content {
    height:calc( 100% - 34px);
    position:relative;
    border:2px solid rgba(10,27,42,1);
    border-style:solid dashed;
}

.flex-container {
    display:flex;
    height:100%;
    flex-direction: column;
    justify-content: center;
}

.flex-container .flex-item {
    flex:1;
    color:#fff;
    position:relative;
}

.flex-item .flex-item-content {
}

.flex-item .flex-item-content > span{
    display:inline-block;
    height:10px;
}

.flex-item .process-container {
    position:relative;
    width:68%;
    background:#0c374f;
}

.flex-item .process-container .process-item {
    position:absolute;
    left:0;
    top:0;
    height:100%;
}
/* 定位指针 */
.flex-item .flex-pointer {
    position:absolute;
    top:24px;
    padding:2px 6px;
    border:1px solid #0c374f;
    transform:translateX(-50%);
    white-space: nowrap;
}

.flex-pointer .arrow {
    position:absolute;
    top:-10px;
    left:50%;
    transform:translateX(-50%);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #5dbbee;
}

.spin:global(.ant-spin) {
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}

.text {
    font-size:1.2rem;
    color:#7c878f;
    margin:0 4px;
}

.data {
    font-size:2.4rem;
    color:#fff;
}
